div {
  font-family: 'Playfair Display', serif;
}

h3 {
  padding-right: 20px;
  padding-left: 20px;
}

.custom-dropdown-toggle::after {
  display: none;  /* Hide the default caret */
}

.custom-dropdown-menu {
  width: auto !important;  /* Adjust the width to fit the content */
  min-width: initial !important;
  max-width: initial !important;
}

.category {
  text-transform: uppercase;
  font-family: Cambria;
  font-size: 15px;
  background-color: #E6E6FA;
}

.list-group-item {
  padding: 0rem !important; /* this sets the padding to 1rem (or 16px if the base font-size is 16px) on all sides */
}
.card-body {
  padding: 0rem !important; /* this sets the margin to 1rem (or 16px if the base font-size is 16px) on all sides */
}

.accordion-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}