<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #efebe2;">
  <img src="assets/image/logo.png" height="75px" width="200px" routerLink="/category">
  
  <div class="navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/category" style="color: purple">CATEGORY<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/timeline" style="color:purple;" href="#">TIMELINE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/badges" style="color:purple;" href="#">BADGES</a>
      </li>
    </ul>
    <span class="navbar-text">
      <img src="../assets/image/pie.png" routerLink="/summary" width="32" height="32" class="rounded-circle">
      <!--profile dropdwon-->
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn custom-dropdown-toggle" ngbDropdownToggle id="userdropdown">
          <img src={{user.picture}} alt="mdo" width="32" height="32" class="rounded-circle">
        </button>
        <div ngbDropdownMenu aria-labelledby="userdropdown" class="dropdown-menu dropdown-menu-end">
          <button ngbDropdownItem>ID: {{user.userId}}</button>
          <button ngbDropdownItem>{{user.name}}</button>
          <button ngbDropdownItem>{{user.email}}</button>
          <button ngbDropdownItem (click)="signOut()">Sign Out</button>
        </div>
      </div>
    </span>
  </div>
</nav>
