div {
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Playfair Display', serif;
}

.ngb-dp-month {
    table-layout: fixed;
  }
  
  .ngb-dp-weekdays {
    display: flex;
  }
  
  .ngb-dp-week {
    flex: 1;
    text-align: center;
  }
