<app-nav></app-nav>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include the jQuery UI library -->
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<hr>
<div>
<h2 style="color: #8c4ca6">Edit Your Goal</h2>
</div>
<hr>
<form (ngSubmit)="onSubmit()" #goalForm="ngForm">
    <!--Selection box for category-->
    <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-5">
        <select class="form-control" id="category" required [(ngModel)]="goal.category" name="category" #category="ngModel">
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>
    </div>

    <!--Input box for title-->
    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div *ngIf="goal" class="col-5">
        <input  type="text" class="form-control" id="title" required [(ngModel)]="goal.title" name="title" #title="ngModel"> 
        </div>
    </div>

    <!--Text box for description-->
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div *ngIf="goal" class="col-5">
        <textarea type="text" class="form-control" id="description" [(ngModel)]="goal.description" name="description" rows="3" placeholder="Enter description"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
        <div *ngIf="goal" class="col-5">
        <input type="date" id="startDate" name="startDate" [ngModel] ="goal.startDate | date:'yyyy-MM-dd'" (ngModelChange)="goal.startDate = $event"  >
    </div>
    </div>

    <div class="form-group row">
        <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
        <div *ngIf="goal" class="col-5">
        <input type="date" id="endDate" name="endDate" [ngModel] ="goal.endDate| date:'yyyy-MM-dd'" (ngModelChange)="goal.endDate = $event" >
    </div>
    </div>

    <div class="form-group row">
        <label for="progress" class="col-sm-2 col-form-label">Progress</label>
        <div class="col-5">
        <select class="form-control" id="category" required [(ngModel)]="goal.progress" name="progress" #category="ngModel">
            <option *ngFor="let progress of progresses" [value]="progress">{{progress}}</option>
        </select>
    </div>
    </div>

    <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label">Reminder</label>
        <div class="col-5">
          <input type="checkbox" id="statusSwitch" [(ngModel)]="goal.reminder" name="status" data-off-text="Inactive"  data-off-color="danger">
        </div>
      </div>

    <div class="col-10 d-flex justify-content-end">
    <button type="submit" class="btn btn-primary" [disabled]="!goalForm.form.valid">Save</button>
    <button type="cancel" class="btn btn-secondary ml-2">Cancel</button>
    </div>

</form>
